.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.cursor-pointer {
    cursor: pointer;
}

.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.shadow {
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.font-w-200 {
    font-weight: 200;
}

.margin-5 {
    margin: 5px 0; 
} 

.white-space-no-wrap {
    white-space: nowrap;
}